#ground {
	width: 100%;
	background-color: #446688;
}

#player {
	left: 20%;
	top: 60%;
}

#exitDoor {
	position: absolute;
	left: 10%;
	height: 20%;
	width: 6%;
	top: 50%;
}


#bartender {
	position: absolute;
	left: 50%;
	height: 20%;
	width: 8%;
	top: 50%;
	background-color: #102940;
}
